@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

:root {
    --font1: "Poppins";
    --fontSizeIntro: 3vw;
}

body {
    margin: 0;
    font-family: var(--font1);
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}

.flex, .flex__col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_new {
    
}

.flex__col {
    flex-direction: column;
}

.menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 50%;
    width: calc(100% - 80px);
    justify-content: space-between;
    margin: 40px 0;
    transform: translateX(-50%);
}

.intro {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    font-size: var(--fontSizeIntro);
    transform-origin: top;
}

.intro__red {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #f21010;
    font-family: var(--font1);
    font-size: 30vw;
    font-weight: 900;
    line-height: 30vh;
    overflow: hidden;
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 1px #222;
    transform: scaleY(0);
    transform-origin: bottom;
}

.intro__red div {
    transform: scaleX(0.5) scaleY(1.5);
    letter-spacing: -1vw;
}

.clip {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.clip__inner {
    width: 90vw;
    height: 90vh;
}

.clip h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "Bebas Neue";
    font-size: 19vw;
    text-transform: uppercase;
    letter-spacing: -0.75vw;
    line-height: 80%;
    margin: 0;
    transform: translate(-50%, -50%) scaleY(2);
}

.h1__stroke {
    position: absolute;
    z-index: 3;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
